<nav class="navbar navbar-default navbar-fixed-top am-top-header">
  <div class="container-fluid">

    <!-- Navbar Header -->
    <div class="navbar-header">

      <!-- Page title - visible on mobile -->
      <div class="page-title">
        <span>Dashboard</span>
      </div>

      <!-- Left sidebar toggle button - visible on mobile -->
      <a href="#" class="am-toggle-left-sidebar navbar-toggle collapsed">
        <span class="icon-bar">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </a>

      <!-- Brand Logo -->
      <a href="#" class="navbar-brand"></a>
    </div>

    <!-- Right sidebar toggle button -->
    <a href="#" class="am-toggle-right-sidebar">
      <span class="icon s7-menu2"></span>
    </a>

    <!-- Navbar collapse toggle button - visible on mobile -->
    <a href="#" data-toggle="collapse" data-target="#am-navbar-collapse" class="am-toggle-top-header-menu collapsed">
      <span class="icon s7-angle-down"></span>
    </a>

    <!-- Navbar collapse - This will be hidden by default on mobile -->
    <div id="am-navbar-collapse" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right am-user-nav">
        <!-- User Menu -->
      </ul>
      <ul class="nav navbar-nav am-nav-right">
        <!-- Left Menu -->
      </ul>
      <ul class="nav navbar-nav navbar-right am-icons-nav">
        <!-- Icons Menu -->
      </ul>

    </div>
    <div class="am-left-sidebar">
      <div class="content">
        <div class="am-logo"></div>
          <%= render "admin/adminmenu" %>
        <!--Sidebar bottom content-->
      </div>
    </div>

  </div>
</nav>
<%= render 'admin/alerts' %>
