<div class="am-wrapper">
  <%= render "admin/admin" %>
  <div class="am-content">
    <div class="page-head">
      <h2>Contacts</h2>
    </div>
    <div class="main-content">
      <div class="row">
        <div class="col-sm-12">
              <div class="widget widget-fullwidth widget-small">
                <div class="widget-head">
                  <div class="tools">
                    <%= link_to new_admin_contact_path, remote: true, "data-toggle": "modal", "data-target": "add_new_contact" do %>
                      <span class="icon s7-add-user"></span>
                    <% end %>
                    </div>
                  <div class="title">Your Contacts</div>
                </div>
                <div class="table-responsive">
                  <table id="contacts-table" class="table table-striped table-fw-widget table-hover">
                      <thead>
                        <tr>
                          <th width="53%">Name</th>
                          <th width="35%">Phone Number</th>
                          <th width="8%">Actions</th>
                        </tr>
                      </thead>
                      <tbody class="no-border-x">
                        <%= render partial: "contact", collection: @contacts %>
                      </tbody>
                  </table>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
  <div id="add_new_contact" class="colored-header custom-width modal fade" tabindex="-1" role="dialog">
  </div>
  <div id="copy_contact" class="colored-header custom-width modal fade" tabindex="-1" role="dialog">
  </div>
</div>
