/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*
 *= require font-awesome
 *= require formvalidation.min
 */

@import "bootstrap-sprockets";

.jumbotron {
  background: rgba(255, 255, 255, 0.2);
}

.container-full-bg {
  width:100%;
  height:100%;
  max-width:100%;
  background-position:center;
  background-size:cover;
}

.container.special .jumbotron {
  margin-top:30px;
}

body.homepage h1{
  color: #fff;
  text-align: center;
}

body.homepage .navbar-nav a{
  color: #fff;
}

body.homepage .navbar-nav a.no-hover:hover{
  color: #fff;
  background-color: transparent;
}

.center {
  text-align: center;
}

.navbar-toggle .icon-bar{
  background-color: #fff;
}


/*Contacts Grid*/
.widget > .widget-head .tools > a > .icon, .icon.actions {
  font-size: 21px;
  display: inline-block;
  margin-left: 5px;
  font-size: 21px;
  line-height: 23px;
  vertical-align: middle;
  cursor: pointer;
}

.widget > .widget-head .tools > a > .icon:hover, .icon.actions:hover {
  color: #ef6262;
}

.widget > .widget-head .tools > a > .icon, td.tools a {
  color: #555555;
}


/*Schedules*/

input#frequency_time {
  margin: 5px;
}


/*Forms*/
ul.errors{
  margin-bottom: 10px !important;
}


.sb-content.masked .mask,  .sb-content.masked .loading{
  opacity: 1;
  visibility: visible;
}

.sb-content .mask {
  opacity: 0;
  overflow: visible;
  border: 150px solid rgba(0,0,0,0.7);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  visibility: hidden;
}

.sb-content .loading {
  background: url(ring-alt.gif) center no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30%;
  left: 41%;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.sb-content .loading.success {
  background: url(loading-done.png) center no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30%;
  left: 41%;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

a.table-btn-link {
  color: #fff;
  font-weight: bold;
}

.cd-currency {
  display: inline-block;
  margin-top: 10px;
  vertical-align: top;
  font-size: 2rem;
  font-weight: 700;
}

.cd-value {
  font-size: 7rem;
  font-weight: 300;
}

.cd-duration {
  font-size: 1.4rem;
}

.cd-duration::before {
  content: '/';
  margin-right: 2px;
}

a .widget .value, a .widget .desc {
    color: #555555;
}
