/*
 *= require font-awesome
 *= require stroke-7-style
 *= require jquery.gritter
 */

@import "bootstrap-sprockets";
@import "bootstrap";


/* -------------------------------------------------- */
.simform {
  position: relative;
  margin: 0 auto;
  padding: 15px 0 50px;
  max-width: 860px;
  width: 100%;
  text-align: left;
  font-size: 2.5em; }

.simform .submit {
  display: none; }

/* Question list style */
.simform ol {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  -webkit-transition: height 0.4s;
  transition: height 0.4s; }

.simform ol:before {
  content: '';
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.35em; }

.questions li {
  z-index: 100;
  position: relative;
  visibility: hidden;
  height: 0;
  -webkit-transition: visibility 0s 0.4s, height 0s 0.4s;
  transition: visibility 0s 0.4s, height 0s 0.4s; }

.questions li.current,
.no-js .questions li {
  visibility: visible;
  height: auto;
  -webkit-transition: none;
  transition: none; }

/* Labels */
.questions li > span {
  display: block;
  overflow: hidden; }

.questions li > span label {
  display: block;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

.questions li.current > span label,
.no-js .questions li > span label {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.show-next .questions li.current > span label {
  -webkit-animation: moveUpFromDown 0.4s both;
  animation: moveUpFromDown 0.4s both; }

@-webkit-keyframes moveUpFromDown {
  from {
    -webkit-transform: translateY(100%); }

  to {
    -webkit-transform: translateY(0); } }

@keyframes moveUpFromDown {
  from {
    transform: translateY(100%); }

  to {
    transform: translateY(0); } }

/* Input field */
.questions input {
  display: block;
  margin: 0.3em 0 0 0;
  padding: 0.5em 1em 0.5em 0.7em;
  width: calc(100% - 2em);
  border: none;
  background: transparent;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1em;
  line-height: 1;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.questions .current input,
.no-js .questions input {
  opacity: 1; }

.questions input:focus,
.simform button:focus {
  outline: none; }

/* Next question button */
.next {
  position: absolute;
  right: 0;
  bottom: 80px;
  /* padding-bottom of form plus progress bar height */
  display: block;
  padding: 0;
  width: 2em;
  height: 2em;
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translateX(-20%);
  transform: translateX(-20%);
  pointer-events: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.next:hover {
  color: rgba(0, 0, 0, 0.5); }

.next::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "\e6d0";
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'SimpleApp';
  line-height: 2;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.next.show {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  pointer-events: auto; }

/* Progress bar */
.simform .progress {
  width: 0%;
  height: 0.15em;
  background: #ef6262;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out; }

.simform .progress::before {
  position: absolute;
  top: auto;
  width: 100%;
  height: inherit;
  background: rgba(0, 0, 0, 0.05);
  content: ''; }

/* Number indicator */
.simform .number {
  position: absolute;
  right: 0;
  overflow: hidden;
  margin: 0.4em 0;
  width: 3em;
  font-weight: 700;
  font-size: 0.4em; }

.simform .number:after {
  position: absolute;
  left: 50%;
  content: '/';
  opacity: 0.4;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.simform .number span {
  float: right;
  width: 40%;
  text-align: center; }

.simform .number .number-current {
  float: left; }

.simform .number-next {
  position: absolute;
  left: 0; }

.simform.show-next .number-current {
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

.simform.show-next .number-next {
  -webkit-animation: moveUpFromDown 0.4s both;
  animation: moveUpFromDown 0.4s both; }

/* Error and final message */
.simform .error-message,
.simform .final-message {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s; }

.simform .error-message {
  padding: 0.4em 3.5em 0 0;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
  font-size: 0.4em; }

.final-message {
  top: 35%;
  left: 0;
  padding: 0.5em;
  width: 100%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.error-message.show,
.final-message.show {
  visibility: visible;
  opacity: 1; }

.final-message.show {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s; }

/* Final hiding of form / showing message */
.simform-inner.hide {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s; }

/* No JS Fallback */
.no-js .simform {
  font-size: 1.75em; }

.no-js .questions li {
  padding: 0 0 2em; }

.no-js .simform .submit {
  display: block;
  float: right;
  padding: 10px 20px;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.4); }

.no-js .simform .controls {
  display: none; }

/* Remove IE clear cross */
input[type=text]::-ms-clear {
  display: none; }

/* Adjust form for smaller screens */
@media screen and (max-width: 44.75em) {
  .simform {
    font-size: 1.8em;
    width: 90%; }
    .simform .error-message {
      font-size: 0.6em; }
    .simform .number {
      font-size: 0.6em; }
    .simform .next {
      bottom: 75px; } }
@media screen and (max-width: 33.5625em) {
  .simform {
    font-size: 1.2em; } }

.zoomOutUp {
  -webkit-animation-name: zoomOutUp;
  animation-name: zoomOutUp; }

body {
  background-color: white;
  margin: 0;
  padding: 0;
  color: #555555;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px; }

a {
  color: #ef6262;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }
  a:hover {
    color: #fff;
    text-decoration: none;
    color: #ea3434;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }

section {
  position: relative; }
  section.light {
    background-color: #f0f0f0;
    border-top: 10px solid #484747; }

.scrollup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 65px;
  height: 55px;
  padding: 0 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0;
  color: #fff;
  font-size: 40px;
  font-size: 4rem;
  line-height: 65px; }
  .scrollup:hover {
    color: #fff;
    background-color: #ef6262; }

.btn {
  border: none;
  padding: 10px 30px;
  font-size: 20px;
  font-size: 2rem;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }
  .btn:hover {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }


#header-full {
  position: fixed;
  width: 100%;
  height: 65px;
  z-index: 9000;
  -webkit-transition: background-color 700ms linear;
  -moz-transition: background-color 700ms linear;
  -o-transition: background-color 700ms linear;
  -ms-transition: background-color 700ms linear;
  transition: background-color 700ms linear;
}
#header-full.scrolled {
  background-color: #484747;
}
  #header-full .container {
    padding-left: 0;
    padding-right: 0; }

#header {
  position: relative;
  width: 100%;
  height: 65px;
  margin: 0 auto;
  z-index: 9000; }

.logo {
  position: relative;
  float: left;
  width: auto;
  height: 65px;
  line-height: 65px;
  padding: 0 30px;
  color: #fff;
  font-size: 30px;
  font-size: 3rem; }
  .logo span {
    color: #464d5d; }
    .logo span.mark {
      color: #eaebef; }

.nav-toggle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 65px;
  line-height: 78px;
  text-align: center;
  font-size: 40px;
  font-size: 4rem; }
  .nav-toggle:hover {
    color: #ef6262;
    background-color: transparent; }

#nav {
  position: relative;
  float: right; }

.nav-links {
  position: relative;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .nav-links li {
    display: inline-block;
    height: 65px;
    line-height: 65px;
    margin: 0;
    padding: 0; }
    .nav-links li.active a {
      background-color: transparent;
      border-color: #ef6262; }
      .nav-links li.active a:hover {
        color: #ef6262;
        background-color: transparent;
        border-color: #ef6262; }
    .nav-links li a {
      position: relative;
      display: block;
      width: auto;
      height: 60px;
      line-height: 60px;
      margin: 0;
      padding: 0 15px;
      color: #fff;
      font-size: 15px;
      font-size: 1.5rem;
      border-top: 5px solid transparent; }
      .nav-links li a:hover {
        color: #efefef;
        background-color: transparent;
        border-color: transparent; }

#pageslide {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 240px;
  padding: 20px;
  background-color: #484747;
  color: #FFF;
 }

#intro {
  position: relative;
  min-height: 450px;
  padding: 25px 0;
  text-align: center;
  font-size: 24px;
  font-size: 2.4rem;
  color: #fff;
  background: URL(image_path("welcome-bg.jpg"));
   }
  #intro .content {
    padding-top: 150px; }
  #intro .laptop {
    position: absolute;
    top: 35%;
    right: 10%;
    width: 400px; }
    #intro .laptop img {
      width: 100%; }

#features {
  position: relative;
  padding: 50px 0 0;
  text-align: center;
  font-size: 14px;
  font-size: 1.4rem;
  border-bottom: 10px solid #dcdde4; }
  #features .content {
 }
  #features .iphones {
    position: absolute;
    bottom: 0;
    left: 2%;
    width: 380px; }
    #features .iphones img {
      width: 100%; }
  #features .feature {
    position: relative;
    float: left;
    width: 50%;
    color: #ec4444; }
    #features .feature:last-child {
      width: 100%; }
    #features .feature i {
      display: inline-block;
      width: 100px;
      height: 100px;
      line-height: 100px;
      margin-bottom: 15px;
      font-size: 58px;
      font-size: 5.8rem;
      border-radius: 100px;
      background-color: #484747;
      color: #efefef;
       }

#purchase {
  width: 100%;
  padding: 50px 0;
  text-align: center; }
  #purchase h1 {
    margin: -10px 0 0;
    padding: 0;
    color: #ef6262; }
  #purchase .pricing {
    display: inline-block;
    position: relative;
    float: none;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 20px;
    font-size: 2rem; }


#footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 0 35px;
  background-color: #ef6262;
  color: #fff;
  font-size: 12px;
  font-size: 1.2rem;
  z-index: 9999; }
  #footer a {
    color: #fff; }
  #footer .copyright {
    position: relative;
    display: inline-block;
    float: left;
    width: auto; }
  #footer .social {
    position: relative;
    display: inline-block;
    float: right;
    width: auto;
    font-size: 16px;
    font-size: 1.6rem; }
    #footer .social a {
      margin: 0 5px; }
      #footer .social a:hover {
        background-color: transparent;
        color: #fc9b92; }

/* -------------------------------------------------- */
.delay {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }
  .delay:hover {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out; }

/* -------------------------------------------------- */
/* -------------------------------------------------- */
@media (max-width: 993px) {
  #intro {
    position: relative;
    min-height: 450px;
    padding: 25px 0;
    text-align: center;
    font-size: 24px;
    font-size: 2.4rem; }
    #intro .content {
      float: none;
      width: 100%;
      padding-top: 100px;
      padding-bottom: 50px; }
    #intro .laptop {
      display: inline-block;
      position: relative;
      top: auto;
      top: 0;
      right: 0;
      width: 300px; }
      #intro .laptop img {
        width: 100%; }

  #features {
    position: relative;
    padding: 50px 0 0;
    text-align: center;
    font-size: 14px;
    font-size: 1.4rem;
    border-bottom: 10px solid #dcdde4; }
    #features .content {
      float: none;
      width: 100%; }
    #features .iphones {
      display: inline-block;
      position: relative;
      bottom: 0;
      left: 0;
      width: 220px; }
    #features .feature {
      position: relative;
      float: left;
      width: 33%;
      margin: 20px 0;
      color: #ef6262; }
      #features .feature:last-child {
        width: 33%; }
      #features .feature i {
        display: inline-block;
        width: 100px;
        height: 100px;
        line-height: 100px;
        margin-bottom: 15px;
        font-size: 58px;
        font-size: 5.8rem;
        border-radius: 100px;
        background-color: #484747; } }
/* -------------------------------------------------- */
@media (max-width: 767px) {
  .nav-toggle {
    display: block; }

  #nav {
    display: none; }

  .nav-links li a {
    color: #fff; } }
@media (max-width: 499px) {
  .logo {
    position: relative;
    float: left;
    width: auto;
    height: 65px;
    line-height: 65px;
    padding: 0 20px;
    color: #fff;
    font-size: 26px;
    font-size: 2.6rem; }

  #features .feature {
    position: relative;
    float: left;
    width: 100%;
    margin: 20px 0;
    color: #ef6262; }
    #features .feature:last-child {
      width: 100%; }
    #features .feature i {
      display: inline-block;
      width: 100px;
      height: 100px;
      line-height: 100px;
      margin-bottom: 15px;
      font-size: 58px;
      font-size: 5.8rem;
      border-radius: 100px;
      background-color: #484747; }

  #purchase {
    width: 100%;
    padding: 50px 0;
    text-align: center; }
    #purchase .pricing {
      font-size: 17px;
      font-size: 1.7rem; }
    #purchase .btn {
      padding-left: 15px;
      padding-right: 15px; }

  #testimonials .byline {
    margin-bottom: 50px;
    color: #ef6262;
    font-size: 18px;
    font-size: 1.8rem; }

  #footer {
    text-align: center; }
    #footer .copyright {
      float: none; }
    #footer .social {
      float: none; } }


.btn-lg,
.btn-group-lg > .btn {
  padding: 12px 16px;
  font-size: 15px;
  line-height: 1.6333333;
  border-radius: 0;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  border-radius: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-primary {
  border-color: #ec4b4b;
  color: #ffffff;
  background-color: #ef6262;
  border-color: #ef6262;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #ea3434;
  border-color: #a71111;
}
.btn-primary:hover {
  color: #ffffff;
  background-color: #ea3434;
  border-color: #e31818;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #ea3434;
  border-color: #e31818;
}

.btn-dark {
  border-color: #302f2f;
  color: #ffffff;
  background-color: #3d3c3c;
  border-color: #3d3c3c;
}
.btn-dark:focus,
.btn-dark.focus {
  color: #ffffff;
  background-color: #232323;
  border-color: #000000;
}
.btn-dark:hover {
  color: #ffffff;
  background-color: #232323;
  border-color: #111111;
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 12px 16px;
  font-size: 15px;
  line-height: 1.6333333;
  border-radius: 0;
}

p {
  margin: 0 0 22px;
}

.alert {
  padding: 18px;
  margin-bottom: 18px;
  border: 1px solid transparent;
  border-radius: 0;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 38px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #7accbe;
  border-color: #7accbe;
  color: #ffffff;
}
.alert-success hr {
  border-top-color: #68c5b5;
}
.alert-success .alert-link {
  color: #e6e6e6;
}
.alert-info {
  background-color: #8dcadf;
  border-color: #8dcadf;
  color: #ffffff;
}
.alert-info hr {
  border-top-color: #79c1d9;
}
.alert-info .alert-link {
  color: #e6e6e6;
}
.alert-warning {
  background-color: #ffc870;
  border-color: #ffc870;
  color: #ffffff;
}
.alert-warning hr {
  border-top-color: #ffbe57;
}
.alert-warning .alert-link {
  color: #e6e6e6;
}
.alert-danger {
  background-color: #ef6262;
  border-color: #ef6262;
  color: #ffffff;
}
.alert-danger hr {
  border-top-color: #ed4b4b;
}
.alert-danger .alert-link {
  color: #e6e6e6;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent;
}

a.nav-toggle {
  color: #fff;
}

a.nav-toggle:hover {
  color: #efefef;
  text-decoration: none;
}

a.nav-toggle:active, a.nav-toggle:focus {
  color: #efefef;
  text-decoration: none;
  background: transparent;
}

#pageslide #nav{
  float: none;
}

#pageslide .nav-links li{
  display:inline;
}
#gritter-notice-wrapper {
  width: 360px;
  top: 82px;
}
.gritter-item-wrapper {
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
}
.gritter-item-wrapper .gritter-item {
  font-family: 'Open Sans', sans-serif;
  background: transparent;
  color: #ffffff;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
}
.gritter-item-wrapper .gritter-item .gritter-img-container {
  display: table-cell;
  width: 26%;
  vertical-align: middle;
  text-align: center;
  background-color: #302f2f;
}
.gritter-item-wrapper .gritter-item .gritter-img-container .gritter-image {
  float: none;
}
.gritter-item-wrapper .gritter-item .gritter-content {
  width: auto;
}
.gritter-item-wrapper .gritter-item .gritter-content.gritter-with-image,
.gritter-item-wrapper .gritter-item .gritter-content.gritter-without-image {
  padding: 15px 35px 17px 15px;
  color: #d9d9d9;
  width: 267px;
  display: table-cell;
}
.gritter-item-wrapper .gritter-item .gritter-content.gritter-with-image .gritter-close,
.gritter-item-wrapper .gritter-item .gritter-content.gritter-without-image .gritter-close {
  display: block !important;
  top: 0;
  right: 0;
  left: auto;
  height: 30px;
  width: 35px;
  font-size: 0;
  background: transparent;
  text-indent: inherit;
  opacity: 0.4;
}
.gritter-item-wrapper .gritter-item .gritter-content.gritter-with-image .gritter-close:hover,
.gritter-item-wrapper .gritter-item .gritter-content.gritter-without-image .gritter-close:hover {
  opacity: 0.8;
}
.gritter-item-wrapper .gritter-item .gritter-content.gritter-with-image .gritter-close:after,
.gritter-item-wrapper .gritter-item .gritter-content.gritter-without-image .gritter-close:after {
  content: '\e680';
  font-family: 'Stroke 7';
  position: absolute;
  color: #ffffff;
  font-size: 24px;
  left: 5px;
  text-shadow: none;
}
.gritter-item-wrapper .gritter-item .gritter-content.gritter-with-image .gritter-title,
.gritter-item-wrapper .gritter-item .gritter-content.gritter-without-image .gritter-title {
  text-shadow: none;
  font-weight: 300;
  font-size: 17px;
}
.gritter-item-wrapper .gritter-item .gritter-content.gritter-with-image p,
.gritter-item-wrapper .gritter-item .gritter-content.gritter-without-image p {
  font-size: 12px;
  line-height: 19px;
}
.gritter-item-wrapper .gritter-item .gritter-content .gritter-without-image {
  border-left: 0;
}
.gritter-item-wrapper.img-rounded {
  border-radius: 0;
}
.gritter-item-wrapper.img-rounded .gritter-img-container .gritter-image {
  border-radius: 50%;
}
.gritter-item-wrapper.clean {
  background: #ffffff;
}
.gritter-item-wrapper.clean .gritter-item {
  color: #555555;
}
.gritter-item-wrapper.clean .gritter-item .gritter-img-container {
  background-color: #fafafa;
}
.gritter-item-wrapper.clean .gritter-item .gritter-content {
  color: #555555;
}
.gritter-item-wrapper.clean .gritter-item .gritter-content .gritter-close {
  opacity: 0.5;
}
.gritter-item-wrapper.clean .gritter-item .gritter-content .gritter-close:after {
  color: #555555;
}
.gritter-item-wrapper.color .gritter-item .gritter-content {
  color: #ffffff;
}
.gritter-item-wrapper.color .gritter-item .gritter-content .gritter-close {
  opacity: 0.7;
}
.gritter-item-wrapper.color .gritter-item .gritter-content .gritter-close:hover {
  opacity: 1;
}
.gritter-item-wrapper.primary {
  background: #ef6262;
}
.gritter-item-wrapper.success {
  background: #7accbe;
}
.gritter-item-wrapper.info {
  background: #8dcadf;
}
.gritter-item-wrapper.warning {
  background: #ffc870;
}
.gritter-item-wrapper.danger {
  background: #ef6262;
}
.gritter-item-wrapper.alt1 {
  background: #95d9f0;
}
.gritter-item-wrapper.alt2 {
  background: #ffdc7a;
}
.gritter-item-wrapper.alt3 {
  background: #7a98bf;
}
.gritter-item-wrapper.alt4 {
  background: #cccccc;
}
.gritter-item-wrapper.dark {
  background: #3d3c3c;
}
.gritter-item-wrapper.facebook {
  background: #5d82d1;
}
.gritter-item-wrapper.facebook .gritter-item .gritter-img-container {
  background-color: #5179ce;
}
.gritter-item-wrapper.twitter {
  background: #50bff5;
}
.gritter-item-wrapper.twitter .gritter-item .gritter-img-container {
  background-color: #42baf4;
}
.gritter-item-wrapper.google-plus {
  background: #eb5e4c;
}
.gritter-item-wrapper.google-plus .gritter-item .gritter-img-container {
  background-color: #e9523e;
}
.gritter-item-wrapper.dribbble {
  background: #f7659c;
}
.gritter-item-wrapper.dribbble .gritter-item .gritter-img-container {
  background-color: #f65693;
}
.gritter-item-wrapper.flickr {
  background: #0063dc;
}
.gritter-item-wrapper.flickr .gritter-item .gritter-img-container {
  background-color: #005ccd;
}
.gritter-item-wrapper.linkedin {
  background: #238cc8;
}
.gritter-item-wrapper.linkedin .gritter-item .gritter-img-container {
  background-color: #2183bb;
}
.gritter-item-wrapper.youtube {
  background: #ef4e41;
}
.gritter-item-wrapper.youtube .gritter-item .gritter-img-container {
  background-color: #ee4133;
}
.gritter-item-wrapper.pinterest {
  background: #e13138;
}
.gritter-item-wrapper.pinterest .gritter-item .gritter-img-container {
  background-color: #df242b;
}
.gritter-item-wrapper.github {
  background: #333333;
}
.gritter-item-wrapper.github .gritter-item .gritter-img-container {
  background-color: #2b2b2b;
}
.gritter-item-wrapper.tumblr {
  background: #426d9b;
}
.gritter-item-wrapper.tumblr .gritter-item .gritter-img-container {
  background-color: #3d6590;
}
