<ul class="sidebar-elements">
  <li class="parent <%= active_class(admin_dashboard_path) %>"><a href="<%= admin_dashboard_path %>"><i class="icon s7-graph"></i><span>Dashboard</span></a>
  </li>
  <li class="parent"><a href="#"><i class="icon s7-users"></i><span>Contacts</span></a>
  </li>
  <li class="parent"><a href="#"><i class="icon s7-date"></i><span>Schedules</span></a>
  </li>
</ul>
