<form role="form" class="form-horizontal" id="sample_call_form" action="<%= make_sample_call_path %>">
  <div class="form-group">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
      <div class="input-group">
        <span class="input-group-addon" data-toggle="tooltip" data-placement="left" title="" data-original-title="Our promise: Your information will not be stored. We will NEVER use the information you provide to contact you after this sample call. We will not sell or give away your info and we will not market to you in any way."><span class="s7-info"></span></span>
        <input id="demo_name" type="text" placeholder="Name" name="name" class="form-control">
      </div>
    </div>
    <div class="col-sm-5"></div>
  </div>
  <div class="form-group">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
      <div class="input-group">
        <span class="input-group-addon" data-toggle="tooltip" data-placement="left" title="" data-original-title="Our promise: Your information will not be stored. We will NEVER use the information you provide to contact you after this sample call. We will not sell or give away your info and we will not market to you in any way."><span class="s7-info"></span></span>
        <input id="demo_phone" type="text" name="phone" placeholder="Phone Number" class="form-control" data-mask="phone">
      </div>
    </div>
    <div class="col-sm-5"></div>
  </div>
  <div class="form-group">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-space btn-primary"></span> Try It!</button>
    </div>
    <div class="col-sm-5"></div>
  </div>
</form>
