$("#sample_call").html("<p>There was an error. Try again?</p>").append("<%= escape_javascript render(:partial => 'sample_call/form') %>");
$( "#sample_call_form" ).submit(function( event ) {

  // Stop form from submitting normally
  event.preventDefault();

  // Get some values from elements on the page:
  var formData = $(this).serializeArray();
  var url = $(this).attr( "action" );
  // Send the data using post
  var posting = $.post( url, formData );

  $("#sample_call").html("<img src='<%= image_url("ring-alt-red.svg") %>' />");

});
