$("#sample_call").html("<p>Great! We're sending you a sample call! If you like what you hear, sign up for a 7-day trial to get started.</p>").append("<%= escape_javascript render(:partial => 'sample_call/sign_up') %>");
